<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCA Image Compression</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>PCA Image Compression</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <input type="submit" value="Upload and Compress">
        </form>

        {% if filename %}
        <div>
            <h3>Download your compressed image:</h3>
            <a href="{{ url_for('download_image', filename=filename) }}">Download Compressed Image</a>
        </div>
        {% endif %}

        {% if compressed_image %}
        <h3>Compressed Image</h3>
        <img src="{{ url_for('static', filename='output/' + compressed_image) }}" alt="Compressed Image">
        <h3>Image Compression Plot</h3>
        <img src="{{ url_for('static', filename='output/' + plot) }}" alt="Compression Plot">
        {% endif %}
    </div>
</body>
</html>
